header {
  // max-width: 80rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr; 
  padding: 2rem;
  padding-bottom: 1rem;
}

header h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  grid-column: 1;
  grid-row: 1;
  color: #545C65;
}

header h1 span{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #81E5CE;
}

header nav {
  grid-column: 2;
  grid-row: 1;
}

header ul {
  display: grid;
  align-items: center;
  justify-items: end;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  text-decoration: none;
  color: #545C65;
  grid-column: 1;
  grid-row: 1;
}

header ul li a.button {
  background-color: #81E5CE;
  border: 5px solid #81E5CE;
  border-radius: 7px;
  box-sizing: border-box;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  grid-column: 2;
  grid-row: 1;
}